*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Regular';
    src: url("../font/Updated.otf");
}

html{
    scroll-behavior: smooth;
    font-size: 15px;
}

/* ************************** */

/* Début du style pour header */

header{
    position: static;
    top: 0%;
    width: 100%;
}

nav{
    background-color: #114C92;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: auto;
    box-shadow: 0 1px 2px #000;
}

.menu{
    margin: 1.5rem 0;
}

.icon{
    margin: 0.8rem 0;
}

.icon > a > img{
    padding: 0 1rem;
}

.icon > a > img:nth-child(2){
    padding-bottom: 1rem;
}

a{
    text-decoration: none;
    color:#ffffff;
}

.menu ul li{
    display: inline;
    list-style: none;
    padding: 2rem;
    font-size: inherit;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    font-family: sans-serif;
}

menu{
    width: 100%;
}

/* Fin du style pour header */

/* ************************** */

/* Début du style pour main */

main, .container{
    text-align: justify;
    width: 100%;
    color: #ffffff;
    background-color: #114C92;
}

.part_one{
    width: 100%;
    height: 100vh;
    background-image: url("../images/Illustration/img19.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.part_one div{
    width: 100%;
    padding: 15rem 0 2rem 11rem;
}

.part_one div h1{
    font-family: 'Regular';
    font-weight: lighter;
    font-size: 6em;
}

blockquote{
    font-weight: bold;
    font-size: 25px;
    word-spacing: 0.5rem;
}

blockquote::before{
    font-weight: bold;
    content: open-quote;
}

blockquote::after{
    font-weight: bold;
    content: close-quote;
}

h2{
    text-transform: uppercase;
    font-family: 'Regular';
    font-weight: lighter;
    font-size: 32px;
}

.part_two > div:nth-child(1){
    width: 100%;
    padding:  3rem 7rem;
}

.part_two > div:nth-child(1) > p{
    margin: inherit;
    font-size: 19.5px;
}

.part_two > div:nth-child(2){
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.box{
    width: 45%;
}

video{
    width: 100%;
    height: 100%;
}

p{
    margin: 1rem 0;
}

.part_three{
    margin-top: 4rem;
    width: 100%;
    height: 100vh;
    background-image: url("../images/Illustration/img20.png");
    background-repeat: no-repeat;
    background-size: 100% 85%;
}

.part_three > div{
    padding: 8rem;
}

.part_three > div > h2{
    font-size: 35px;
}

.part_three > div > p{
    font-weight: bold;
    font-size: 1.5em;
}

.part_four{
    width: 100%;
}

.part_four > div:nth-child(1){
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 2rem auto;
}

.part_four > div:nth-child(1) > div:nth-child(1), .part_four > div:nth-child(1) > div:nth-child(2){
    width: 45%;
}

.part_four > div:nth-child(2){
    width: 80%;
    margin: 2rem auto;
}

.part_four > div:nth-child(2) > div:nth-child(1) > p{
    margin: inherit;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 20px;
} 

.part_four > div:nth-child(2) > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.part_four > div:nth-child(2) > div:nth-child(2) > div{
    width: 45%;
}

.part_four > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > img:nth-child(1){
    z-index: 1;
}

.part_four > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > img:nth-child(2){
    position: relative;
    left: 40%;
    bottom: 30%;
    z-index: 2;
}

.part_four > div:nth-child(3){
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto 2.5rem auto;
}

.part_four > div:nth-child(3) > div{
    width: 45%;
}

.part_four > div:nth-child(3) > div:nth-child(2) > div:nth-child(1){
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.part_four > div:nth-child(3) > div:nth-child(2) > div:nth-child(2){
    width: 45%;
    margin: 0 auto;
}

.part_five{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8.5rem;
}

.part_five_child_one{
    background-color: #B11313;
    width: 50%;
}

.part_five_child_one > h2{
    margin-top: 1.5rem;
    margin-left: 5.3rem;
}

.part_five_child_one, .part_five_child_two{
    width: 50%;
}

.align_vertically{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#imgOfpart_five{
    width: 80%;
}

.align_item{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 1rem auto;
}

.wrap_text{
    width: 40%;
    font-size: 14px;
}

.wrap_img{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 5.5rem;
}

.wrap_img > div{
    margin: 0rem auto;
}

.wrap_img > div > img{
    margin: 1.5rem 0.4rem;
}

.part_five_child_two > img{
    width: 100%;
    height: 100%;
}

.part_six{
    display: flex;
    justify-content: end;
    background-image: url("../images/Illustration/img33.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.part_six_child{
    margin-right: 8.5rem;
    background: rgba(37, 68, 155, 0.7);
    width: 36%;
    height: 100%;
}

.part_six_child > div:nth-child(1){
    text-align: end;
}

.part_six_child > div:nth-child(1) > strong{
    font-size: 20px;
}

.part_six_child > div{
    padding: 2.5rem 1.5rem;
    width: 100%;
}

.part_six_child > div:nth-child(2) > p{
    font-size: 14px;
    color: #CCCCCC;
}

/* Fin du style pour main */

/* ************************** */

/* Début du style pour footer */

footer{
    padding: 3rem 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    font-size: 13px;
}

.footer_part_one{
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

#fimg, #timg{
    padding: 0 0.7rem;
}

#simg{
    padding-bottom: 1rem;
}

select{
    border: none;
    border-radius: 15px;
    padding: 0.2rem 4rem 0.2rem 0.5rem;
    background-color: #114C92;
    color: #ffffff;
}

.footer_part_two{
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin: 3rem auto;

}

.social_media{
    background-color: #114C92;
    border-radius: 50%;
    padding: 0.4rem;
}

.footer_part_third{
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #ccc;
}

/* Fin du style pour footer */
